/* styles for password generator */
#password-list li span {
    font-size: small;
    color: gray;
    padding-left: 1em;
}

#password-list li code {
    font-size: larger;
}

#password-list li {
    padding-block: 0.3em;
}

#password-list li .copy-button {
    margin-left: 0.8em;
}

.format-doc code {
    color: red;
    font-size: larger;
    background-color: #ffdddd;č
    padding-inline: 0.1em;
}

.format-doc li {
    margin-block: 0.4em;
}
